<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='asset_code.css') }}">
	</head>
	<body>
		<h1>Caption the audio</h1>
			<form action="http://localhost:5000/predict" method="POST" enctype="multipart/form-data">
				<label form="wav">Wav file:</label>
				<input type="file" id="wav" name="wav" accept=".wav" class="my_input">
				<button type="submit" class=cv_btn>Caption</button>
				<input type="number" id="random_seed" name="random_seed" class="mytext" min="0" max="4294967295" value="42">
				<label form="random_seed" class="right_elem">random_seed:</label>
				<br>
				<input type="number" id="do_sample" name="do_sample" class="mytext" min="0" max="1" value="0">
				<label form="do_sample" class="right_elem">do_sample:</label>
			</form>
			<br>
			<br>
			Result: {{ prediction_text }}
	</body>
</html>
